.data_container{
    background-color: #f8f8f8;
    width: 600px;
    margin: auto;
    padding: 20px;
}
.data_container .repos{
    background-color: white;
    padding: 25px;
    margin-bottom: 15px;
}
.data_container .repos input{
    padding: 5px;
}
.data_container .repos button{
    padding: 7px;
    background-color: #ef6c00;
    color: white;
    border: none;
}
.data_container .repositries{
    background-color: white;
    padding: 15px;
}
.data_container .repositries .div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.data_container .repositries p{
    width: 200px;
}
.data_container .repositries .div a{
    text-decoration: none;
    background-color: #ef6c00;
    color: white;
    padding: 7px 20px;
    border-radius: 6px;
    height: 22px;
}
.data_container .repositries .div span{

}

